.title {
    font-family: "Helvetica", sans-serif;
    font-size: 150px;
    border: 10px solid, navy;
    background-color: lightskyblue;
    padding: 50px;
    margin-top: 0px;
    margin-bottom: 30px;
    border: 30px solid; 
    border-color: royalblue;
}

li {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 50px;
    background-color: azure;
    display: inline-block;
    padding: 50px;
    margin: 10px;
    border: 5px solid royalblue;
}

p {
    margin-top: 280px;
    font-size: 10px;
    font-family: "Comic Sans MS", "Comic Sans", cursive, sans-serif;
}